*{
font-family: "CustomFont";
margin: 0px;
padding: 0px;
box-sizing: border-box;
text-decoration: none;
border: none;
outline: none;
background-color: #333 !important;
}

@font-face {
    font-family: CustomFont;
    src: url(/fonts/JetBrainsMono-Regular.ttf);
}

:root {
    --bg-color: blue;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #000;
}

