* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
    scroll-behavior: smooth !important;
}

@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: shame;
    src: url(/fonts/ShameimaruSans.ttf);
}

/* @font-face {
    font-family: nano;
    src: url(/fonts/NanoTech\ Regular.otf);
} */

.shame {
    font-family: shame !important;
}

h3 {
    font-family: shame;
    text-align: start;
}

.und {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #1bd497;
}

html {
    background-color: #000000;
    color: 	#fff !important;
    scroll-behavior: smooth !important;
    scroll-padding-top: 80px;
    overflow-x: hidden;
}

.scrollspy {
    position: relative;
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
    font-family: shame;
}

nav ul li a:hover {
    background-color: #222222 !important;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 14px;
    bottom: 14px;
    width: 0;
    height: 2.5px;
    background-color: #1bd497; 
    transition: width 0.4s ease;
}

nav ul li a:hover::after {
    width: 40%;
}

nav ul li a.active::after {
    width: 40%;
}

body {
    overflow-x: hidden;
}

.img {
    width: 70%;
    height: 70%;
}

.carousel-wrapper {
    max-width: 100vw;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
    min-height: 160px; /* adjust as needed */
}

section {
    scroll-margin-top: 80px; /* adjust to match your navbar height */
}

nav {
    background-color: #222 !important;
}

.btn {
    text-transform: capitalize !important;
    background-color: #222 !important;
    border: 2px #1bd497 solid !important;
    border-radius: 18px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.btn:hover {
    background-color: #1bd497 !important;
    transition: 0.5s;
}

.und {
    text-decoration: underline;
    text-decoration-color: #1bd497;
}

.br {
    margin-top: 20%;
}

.card {
    background-color: 	#2B2D42 !important;
}

.col {
    padding: 0px 10px 0px 0px !important;
}

/* Headings */
.section-header h3 {
    font-weight: 700;
    margin-bottom: 0;
}

/* Card styling to match screenshot */
.service-card {
    background-color: #1a1a1a;
    padding: 30px 20px;
    border-radius: 20px;
    height: 100%;
    transition: all 0.3s ease;
    margin: 0px 2px 16px 2px;
}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 20px #1bd497;
}

.service-card a {
    color: #1bd497;
}

.service-card h5 {
    margin: 15px 0 10px;
    color: #1bd497;
}
.service-card p {
    font-size: 14px;
    line-height: 1.5;
}

.green-text1 {
    color: #1bd497 !important;
}

.lico {
    margin-left: 12% !important;
    margin-top: 8% !important;
}

.sidenav {
    background-color: #222 !important;
}

.sidenav a {
    color: 	#fff !important; 
}

.btn-primary {
    background-color: #1bd497 !important;
    border-radius: 20px !important;
}

.btn-secondary {
    border-radius: 20px !important;
}

.btn-primary:hover {
    background-color: #222 !important;
    border: 2px #1bd497 solid;
    color: 	#fff !important;
}

.btn-secondary:hover {
    background-color: #1bd497 !important;
    border: 2px #222 solid;
}

.learn-more {
    display: inline-flex !important;
    align-items: center !important;
    gap: 6px !important;
}

/* .learn-more:hover {
    color: #31cb31;
    transition: 0.2s ease-in-out;
} */

.learn-more  i {
    color: #1bd497 !important;
    padding-top: 10%;
}

.straight {
    text-align: justify;
}

.start {
    text-align: start !important;
}


/* cool typing effect */

#typewriter-text.typing {
    display: inline-block;
    border-right: 2px solid #000; /* Blinking cursor */
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation:
        typing 4s steps(60, end) forwards,
        blink 0.7s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: transparent; }
}


/* skills circle chart */

.skills {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
  background: #1a1a1a; /* or your bg */
}

.skill {
    text-align: center;
    color: #fff;
}

.circle {
  --size: 120px;            /* circle diameter */
  --thickness: 10px;        /* ring thickness */
  --perc: 0;                /* animated value */
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background:
    conic-gradient(
        #1bd497 calc(var(--perc) * 1%),
        #333 0
    );
    display: grid;
    place-items: center;
    position: relative;
    font-family: sans-serif;
}

.circle::before {
    content: '';
    width: calc(var(--size) - var(--thickness) * 2);
    height: calc(var(--size) - var(--thickness) * 2);
    background: #111; /* match container bg */
    border-radius: 50%;
    position: absolute;
}

.circle .perc {
    position: relative;
    font-size: 1.2rem;
    font-weight: bold;
}



@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #1bd497;
    top: 20%;
    left: 45%;
    animation-duration: 21s;
    animation-delay: -28s;
    transform-origin: -4vw 21vh;
    box-shadow: 4vmin 0 0.9778733211532314vmin currentColor;
}
.background span:nth-child(1) {
    color: #1bd497;
    top: 91%;
    left: 26%;
    animation-duration: 29s;
    animation-delay: -39s;
    transform-origin: 7vw 2vh;
    box-shadow: 4vmin 0 0.8585446476190637vmin currentColor;
}
.background span:nth-child(2) {
    color: #1bd497;
    top: 14%;
    left: 40%;
    animation-duration: 37s;
    animation-delay: -50s;
    transform-origin: -13vw -4vh;
    box-shadow: -4vmin 0 1.4450780913107453vmin currentColor;
}
.background span:nth-child(3) {
    color: #1bd497;
    top: 58%;
    left: 67%;
    animation-duration: 42s;
    animation-delay: -22s;
    transform-origin: 22vw 23vh;
    box-shadow: -4vmin 0 1.3633400037412127vmin currentColor;
}
.background span:nth-child(4) {
    color: #1bd497;
    top: 11%;
    left: 42%;
    animation-duration: 8s;
    animation-delay: -19s;
    transform-origin: 21vw -8vh;
    box-shadow: 4vmin 0 0.8465804928008661vmin currentColor;
}
.background span:nth-child(5) {
    color: #1bd497;
    top: 98%;
    left: 86%;
    animation-duration: 12s;
    animation-delay: -39s;
    transform-origin: 16vw -18vh;
    box-shadow: 4vmin 0 0.8675009675962381vmin currentColor;
}
.background span:nth-child(6) {
    color: #1bd497;
    top: 7%;
    left: 8%;
    animation-duration: 50s;
    animation-delay: -30s;
    transform-origin: 19vw 0vh;
    box-shadow: 4vmin 0 1.0519688323525784vmin currentColor;
}
.background span:nth-child(7) {
    color: #1bd497;
    top: 38%;
    left: 91%;
    animation-duration: 26s;
    animation-delay: -48s;
    transform-origin: -14vw -19vh;
    box-shadow: 4vmin 0 0.8158400590701078vmin currentColor;
}
.background span:nth-child(8) {
    color: #1bd497;
    top: 35%;
    left: 28%;
    animation-duration: 13s;
    animation-delay: -8s;
    transform-origin: -1vw 0vh;
    box-shadow: 4vmin 0 1.2040385896939279vmin currentColor;
}
.background span:nth-child(9) {
    color: #1bd497;
    top: 71%;
    left: 73%;
    animation-duration: 41s;
    animation-delay: -11s;
    transform-origin: 8vw -4vh;
    box-shadow: 4vmin 0 0.7968762532999073vmin currentColor;
}
.background span:nth-child(10) {
    color: #1bd497;
    top: 81%;
    left: 95%;
    animation-duration: 29s;
    animation-delay: -44s;
    transform-origin: 22vw 3vh;
    box-shadow: 4vmin 0 1.3158139837901661vmin currentColor;
}
.background span:nth-child(11) {
    color: #1bd497;
    top: 82%;
    left: 38%;
    animation-duration: 48s;
    animation-delay: -25s;
    transform-origin: -18vw 0vh;
    box-shadow: -4vmin 0 0.6992639817085059vmin currentColor;
}
.background span:nth-child(12) {
    color: #1bd497;
    top: 7%;
    left: 29%;
    animation-duration: 16s;
    animation-delay: -1s;
    transform-origin: 11vw 11vh;
    box-shadow: 4vmin 0 0.6854072972385359vmin currentColor;
}
.background span:nth-child(13) {
    color: #1bd497;
    top: 47%;
    left: 51%;
    animation-duration: 46s;
    animation-delay: -23s;
    transform-origin: 10vw 23vh;
    box-shadow: -4vmin 0 1.3209920588026234vmin currentColor;
}
.background span:nth-child(14) {
    color: #1bd497;
    top: 23%;
    left: 37%;
    animation-duration: 14s;
    animation-delay: -2s;
    transform-origin: 24vw -11vh;
    box-shadow: 4vmin 0 1.4921772802030528vmin currentColor;
}
.background span:nth-child(15) {
    color: #1bd497;
    top: 4%;
    left: 81%;
    animation-duration: 53s;
    animation-delay: -38s;
    transform-origin: -18vw 10vh;
    box-shadow: -4vmin 0 0.6733128593282223vmin currentColor;
}
.background span:nth-child(16) {
    color: #1bd497;
    top: 56%;
    left: 41%;
    animation-duration: 42s;
    animation-delay: -30s;
    transform-origin: 11vw -23vh;
    box-shadow: 4vmin 0 1.4717446908214757vmin currentColor;
}

